<main class="row" xmlns:th="http://www.thymeleaf.org">
    <form th:with='data=${#httpSession.getAttribute("data")}'
          class="col d-flex align-items-left flex-column mb-3"
          method="post" action="/profile/modify/return">
        <div th:with='problems=${#httpSession.getAttribute("problems")}'>
            <div th:each="problem : ${problems}">
                <span class="text-danger mt-1" th:text="${problem}"></span>
            </div>
        </div>

        <div class="form-group">
            <label for="nom">Last name</label>
            <input type="text" class="form-control" id="nom"
                   placeholder="Enter login" name="nom"
                   th:value='${data.get("nom")}'>
        </div>
        <div class="form-group">
            <label for="prenom">First name</label>
            <input type="text" class="form-control" id="prenom"
                   placeholder="Enter login" name="prenom"
                   th:value='${data.get("prenom")}'>
        </div>

        <div class="form-group date">
            <label for="date_naissance">Birth date</label>
            <input type="text" class="form-control"
                   id="date_naissance" name="date_naissance"
                   th:value='${data.get("date_naissance")}'>
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-th"></i></span>
        </div>

        <div th:with='civilite=${data.get("civilite")}'
             class="form-group">
            <div class="form-check form-check">
                <input class="form-check-input" type="radio" id="check_box_civility_male"
                       name="civility" value="male" th:checked="${civilite == '1'}">
                <label class="form-check-label" for="check_box_civility_male">Male</label>
            </div>
            <div class="form-check form-check">
                <input class="form-check-input" type="radio" id="check_box_civility_female"
                       name="civility" value="female" th:checked="${civilite == '2'}">
                <label class="form-check-label" for="check_box_civility_female">Female</label>
            </div>
        </div>

        <!-- Include Google link -->

        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" class="form-control" id="login"
                   placeholder="Enter login" name="login" aria-describedby="loginHelp"
                   th:value='${data.get("login")}'>
            <small id="loginHelp" class="form-text text-muted">We'll
                never share your login with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                   placeholder="Enter password" name="password" aria-describedby="passwordHelp"
                   th:value='${#httpSession.getAttribute("passwordClear")}'>
            <small id="passwordHelp" class="form-text text-muted">We'll
                never share your password with anyone else.</small>
        </div>

        <!-- Include CV -->

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email"
                   placeholder="Enter email" name="email"
                   th:value='${data.get("email")}'>
        </div>

        <button type="submit" class="btn btn-primary">Modify account</button>

    </form>
</main>