<main class="row" xmlns:th="http://www.thymeleaf.org">
    <div th:with='data=${#httpSession.getAttribute("data")}'
         class="col d-flex align-items-left flex-column mb-3">
        <div class="form-group">
            <label for="nom">Last name</label>
            <label type="text" class="form-control" id="nom"
                   placeholder="Enter login" name="nom"
                   th:text='${data.getNom()}'></label>
        </div>
        <div class="form-group">
            <label for="prenom">First name</label>
            <label type="text" class="form-control" id="prenom"
                   placeholder="Enter login" name="prenom"
                   th:text='${data.getLogin()}'></label>
        </div>

        <div class="form-group">
            <label for="date_naissance">Birth date</label>
            <label type="text" class="form-control" id="date_naissance"
                   name="date_naissance"
                   th:text='${data.getDateNaissance()}'></label>
        </div>

        <div class="form-group">
            <label for="civilite">Civility</label>
            <label type="text" class="form-control" id="civilite"
                   name="civilite"
                   th:text="${data.getIdCivilite() == '1'} ? 'Male' : 'Female'"></label>
        </div>

        <!-- Include Google link -->

        <!-- Include CV -->

        <div class="form-group">
            <label for="email">Email</label>
            <label type="text" class="form-control" id="email"
                   name="email"
                   th:text='${data.getEmail()}'></label>
        </div>
    </div>
    <div class="col d-flex align-items-center flex-column mb-3 border border-secondary rounded">
        <p class="p-2 bd-highlight">Modify your information.</p>
        <form action="/profile/modify" method="get">
            <button type="submit" class="btn btn-primary p-2 bd-highlight">Modify</button>
        </form>
    </div>
</main>