<main class="row" xmlns:th="http://www.thymeleaf.org">
    <form class="col d-flex align-items-left flex-column mb-3"
          method="post" action="/sign_in/return">
        <div class="form-group">
            <label for="login">login</label>
            <input type="text" class="form-control" id="login"
                   placeholder="Enter login" name="login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                   aria-describedby="passwordHelp" placeholder="Password"
                   name="password">
            <small id="passwordHelp" class="form-text text-muted">We'll
                never share your password with anyone else.</small>
        </div>

        <div th:with='problems=${#httpSession.getAttribute("problems")}'>
            <div th:each="problem : ${problems}">
                <span class="text-danger mt-1" th:text="${problem}"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="col d-flex align-items-center flex-column mb-3 border border-secondary rounded">
        <p class="p-2 bd-highlight">You don't have account ?</p>
        <p class="p-2 bd-highlight">Come create one right now !</p>
        <form action="/sign_up/new" method="get">
            <button type="submit" class="btn btn-primary p-2 bd-highlight">Create account</button>
        </form>
    </div>
</main>