<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">
            <img src="/Icon.svg" width="30" height="30"
                 class="d-inline-block align-top" alt="">
            Mega-Casting
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/">Home</a>
                <a class="nav-item nav-link" href="/#">#2</a>
                <a class="nav-item nav-link" href="/#">#3</a>
            </div>
        </div>
    </nav>
</header>
