<main xmlns:th="http://www.thymeleaf.org"
      th:with='offresList=${#httpSession.getAttribute("offresList")}'>

    <div class="filtre">

    </div>

    <form class="recherche">

    </form>

    <div class="d-flex justify-content-center flex-md-wrap">

        <div class="offres d-flex flex-column"
             th:each="offresInList : ${offresList}">

            <h4 class="up text-sm-left">
                <a th:href='${"/offre/" + offresInList.getId()}'
                   th:text='${offresInList.getIntitule()}'></a>
            </h4>

            <hr>

            <div class="down d-flex flex-row justify-content-between">

                <div class="left d-flex flex-column flex-wrap pl-2">
                    <p class="component"
                       th:text='${offresInList.getStudioByIdStudio().getLibelle()}'></p>
                    <p class="component"
                       th:text='${offresInList.getMetierByIdMetier().getLibelle()}'></p>
                    <p class="component"
                       th:text='${offresInList.getNombrePostes()}'></p>
                    <p class="component"
                       th:text='${offresInList.getDatePublication()}'></p>
                </div>

                <div class="right d-flex flex-column flex-wrap pr-2 align-items-end">
                    <p class="component" th:text="${offresInList.getDescriptionPoste()}"></p>
                    <p class="component" th:text="${offresInList.getDescriptionProfile()}"></p>
                </div>

            </div>
        </div>

    </div>


</main>

