<main xmlns:th="http://www.thymeleaf.org"
      th:with='offres=${#httpSession.getAttribute("offres")}'>

    <div class="filtre">

    </div>

    <div class="form-inline justify-content-between">
        <form class="recherche form-inline" method="get" action="/offre">
            <label>
                <input class="form-control" type="text" name="searchString" placeholder="search">
            </label>
            <button type="submit" class="btn btn-primary"
                    title="Search in title and description">
                Search
            </button>
        </form>
        <form class="recherche form-inline" method="get" action="/offre">
            <label hidden="hidden">
                <input type="text" name="searchString" value="all">
            </label>
            <button type="submit" class="btn btn-primary">All</button>
        </form>
    </div>

    <div class="d-flex justify-content-center flex-md-wrap">


        <div class="offres d-flex flex-column" th:if="${offres != null && offres.size() != 0}"
             th:each="offresInList : ${offres}">

            <h4 class="up text-sm-left">
                <a th:href='${"/offre/detail/" + offresInList.getId()}'
                   th:text='${offresInList.getIntitule()}'></a>
            </h4>

            <hr>

            <div class="down d-flex flex-row justify-content-between">

                <div class="left d-flex flex-column flex-wrap pl-2">
                    <p class="component"
                       th:text='${offresInList.getStudioByIdStudio().getLibelle()}'></p>
                    <p class="component"
                       th:text='${offresInList.getMetierByIdMetier().getLibelle()}'></p>
                    <p class="component"
                       th:text='${offresInList.getNombrePostes()}'></p>
                    <p class="component"
                       th:text='${offresInList.getDatePublication()}'></p>
                </div>

                <div class="right d-flex flex-column flex-wrap pr-2 align-items-end">
                    <p class="component" th:text="${offresInList.getDescriptionPoste()}"></p>
                    <p class="component" th:text="${offresInList.getDescriptionProfile()}"></p>
                </div>

            </div>
        </div>
        <div th:if="${offres == null || offres.size() == 0}">
            <p class="component">
                No results
            </p>
        </div>

    </div>

</main>

