<main class="row" xmlns:th="http://www.thymeleaf.org">
    <form class="col d-flex align-items-left flex-column mb-3"
          method="post" action="/login/return">
        <div class="form-group">
            <label for="login">Email address</label>
            <input type="text" class="form-control" id="login"
                   placeholder="Enter login" name="login">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                   aria-describedby="passwordHelp" placeholder="Password"
                   name="password">
            <small id="passwordHelp" class="form-text text-muted">We'll
                never share your password with anyone else.</small>
        </div>

        <span th:if='${#httpSession.getAttribute("ErrorLogin") == "Login or password incorrect."}'
              class="text-danger mt-1">
        Login or password incorrect.
        </span>

        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div class="col d-flex align-items-center flex-column mb-3 border border-secondary rounded">
        <p class="p-2 bd-highlight">You don't have account ?</p>
        <p class="p-2 bd-highlight">Come create one right now !</p>
        <form action="/login/new" method="get">
            <button type="submit" class="btn btn-primary p-2 bd-highlight">Create account</button>
        </form>
    </div>
</main>