<main>
    <h1>Index</h1>

    <div class="container">
        <span>
            <p>This is my Oauth client application.</p>
            <p>This application is a test / personal exercise in order to train my-self in developing web application.</p>
            <p>All the source code is available on github : <b><a
                    href="https://github.com/Miguel-Gremy/Oauth-Client"
                    class="text-decoration-none text-black-50">GitHub link</a></b></p>
            <p>There is no save of consumer data, and i don't use data in any kind of situations.</p>
        </span>
    </div>

</main>