<main>
    <h1>Mega-Production</h1>

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="false" aria-controls="collapseOne">
                        <span class="text-muted">C'est quoi ?</span>
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                 data-parent="#accordion">
                <div class="card-body">

                    &nbsp;
                    &nbsp;
                    &nbsp;
                    MegaProduction est une société de production créée en janvier 2003.
                    <br>
                    Cette production officie dans plusieurs domaines culturels : le spectacle
                    vivant, le secteur
                    de l’image et celui de la musique.
                    <br>
                    MegaProduction a su s’entourer de personnes qualifiées dans chacun de ces
                    domaines qui
                    aujourd’hui encore sont des partenaires proches.
                    <br>
                    Depuis un peu plus de 10 ans, MegaProduction accompagne les artistes, qu’ils
                    soient
                    danseurs, musiciens, chorégraphes, compositeurs, réalisateurs ou photographes.
                    <br>
                    Le bureau leur apporte un soutien en administration, en diffusion, met à leur
                    disposition du
                    matériel et des outils de travail, les accompagne sur les dates de tournées,
                    gère leurs
                    diffusions et leurs communications.
                    <br>
                    MegaProduction est devenu un véritable partenaire pour ces compagnies et ces
                    artistes.
                    <br>
                    <br>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    MegaProduction met un point d’honneur à faire en sorte qu’une véritable
                    coopération soit
                    possible entre les secteurs.
                    <br>
                    Chaque domaine n’est pas clos et les échanges interdisciplinaires sont
                    encouragés.
                    <br>
                    Ce mélange passe notamment par le partage des bureaux entre les secteurs, par
                    l’échange
                    de compétences, par la mise à disposition des savoir-faire d’un domaine pour un
                    autre.
                    <br>
                    Travailler avec MegaProduction, c’est donc avant tout travailler avec une équipe
                    soudée
                    et dont les interactions sont fructueuses.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                            aria-expanded="false" aria-controls="collapseTwo">
                        <span class="text-muted">Un nouveau service, ce service ?</span>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                 data-parent="#accordion">
                <div class="card-body">
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    Parce que le milieu artistique est un monde qui compte beaucoup d'abus,
                    MegaProduction souhaite créer un site Internet de castings "MegaCastings" qui
                    serait à la fois clair, professionnel et digne de confiance.
                    <br>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    C'est pour cette raison que MegaCastings s’engage à être au contraire actifs et
                    réactifs en permanence dans leur recherche de castings auprès d’un réseau de
                    partenaires ; c'est également pour cette raison que MegaCastings vérifiera
                    systématiquement les informations des professionnels souhaitant publier des
                    castings en les contactant par téléphone afin de garantir le sérieux des
                    annonces.
                    <br>
                    MegaCastings se veut être un point de rencontre entre professionnels à la
                    recherche de nouveaux talents et artistes désireux de faire leur entrée dans le
                    monde du spectacle.
                </div>
            </div>
        </div>
    </div>
</main>